
    

#right-aside{
    color: #b1b0b0;
}
.aside-icons{
    border-radius: 100% !important;
    width: 40px;
    height: 40px;
}
.iconsImgAside{
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#right-aside-title{
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.righterCol{
    color: #b1b0b0;
}

.righterColText{
    margin-bottom : 0px;
    color: #cecece;
    font-size: 0.75rem;
}


.righterP{
    margin-top: 0;
    margin-bottom: 0.3rem !important;
}

#left-aside{
    display : flex;
    flex-direction : column;
    overflow : scroll;
    height: 100vh;
    font-size: 0.9rem;
}


#left-aside::-webkit-scrollbar {
    width: 10px;
}

#left-aside::-webkit-scrollbar-track {
    background: black;
}

#left-aside::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
}

// @media (min-width: $breakpoint-small) {
//     #left-screen{
//         display: none
//     } 

// }